<div class="container" style="padding:40px; background-color: #ffffff; box-shadow: 1px 1px 5px #acacac; border-radius: 10px;">
    <form action="/handler/cold_kharid" method="post" enctype="multipart/form-data">
        <div class="form-row mb-4">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Cold Storage</span>
                    </div>
                    <select name="in_cold_name" id="cold-name-list" class="form-control" oninput="showColdStoreInsertModal(this)">
                        <option disabled selected>Select Cold Storage Name</option>
                        {{#coldStore}}
                        <option value="{{name}}">{{name}}</option>
                        {{/coldStore}}
                        <option value="add">Add New Cold Store</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Date</span>
                    </div>
                    <input type="date" class="form-control" name="in_date" required>
                </div>
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Party Name</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Seller Party Name & Address" list="seller-name" onfocusout="generateFieldData(this)" id="seller-name-input" name="in_seller_name" required>
                </div>
                <datalist id="seller-name">
                        {{#seller}}
                        <option value="{{name}}" name="{{name}}" id='{"id":"{{_id}}","contact":[{{contact}}]}'>
                        {{/seller}}
                </datalist>
                <input type="text" name="in_seller_id" id="seller-id" style="display: none">
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Mobile No.</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Seller Contact No." list="seller-mobile" name="in_seller_mobile" pattern="[0-9]{10}" title="Enter Ten Digit Mobile Number!">
                </div>
                <datalist id="seller-mobile"></datalist>
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Merchant Name</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Buyer Party Name & Address" list="buyer-name" onfocusout="getBuyerMobile()" id="buyer-name-input" name="in_buyer_name" required>
                </div>
                <datalist id="buyer-name">
                    <option value="Nem Singh">
                    <option value="Mahesh Chand">
                </datalist>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Mobile No.</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Buyer Contact No." list="buyer-mobile" name="in_buyer_mobile" pattern="[0-9]{10}" title="Enter Ten Digit Mobile Number!">
                </div>
                <datalist id="buyer-mobile"></datalist>
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Lot No.</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Lot Number" name="in_lot" required>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Type</span>
                    </div>
                    <select class="form-control" name="in_type" id="type">
                        <option disabled selected>Select Potato Type</option>
                        <option value="Gulla">Gulla</option>
                        <option value="Mota">Mota</option>
                        <option value="Kirri">Kirri</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Packets</span>
                    </div>
                    <input type="text" class="form-control" placeholder="No. Of Packets" name="in_bag" required pattern="[0-9]+" title="Enter Number Of Packets!">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Rate</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Rate" name="in_rate" required pattern="[-+]?[0-9]*[.,]?[0-9]+" title="Rate Not Valid!">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tol</span>
                    </div>
                    <select class="form-control" name="in_tol" id="tol">
                        <option disabled selected>Select Tol</option>
                        <option value="52.5">52.5 Kg/Packet</option>
                        <option value="52.3">52.3 Kg/Packet</option>
                        <option value="52.7">52.7 Kg/Packet</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="in_files" multiple accept="image/*" onchange="setFileInputText()">
                    <label class="custom-file-label" for="customFile" id="fileLabel">Choose Files (Max 5 Files)</label>
                </div>
            </div>
            <div class="col-sm-2",ngr>
                <button type="submit" class="btn btn-success col" onclick="applyValidation()">Save</button>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <form onsubmit="return saveColdStoreData()" id="new-cold-form">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Cold Store</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-row mb-4 mt-2 mr-5 ml-5">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Cold Storage</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Cold Storage Name" title="Provide Cold Name!" id="cold-name" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-4 mr-5 ml-5">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Bags</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Bags Already Stored" pattern="[0-9]+" title="Enter Number Of Bags!" id="bag" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2 mr-5 ml-5">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Dues</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Any Due Amount" pattern="[0-9]+" title="Enter Due Amount!" id="due" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="new-cold-error" class="col m-font" style="color: #d54c36;"></div>
                    <button type="submit" class="btn btn-success col-sm-3" id="add-cold-btn">Save</button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>