<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica Neue">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<div class="container" style="padding:40px; background-color: #ffffff; box-shadow: 1px 1px 5px #acacac; border-radius: 10px;">
    <form>
        <div class="form-row mb-4">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Cold Storage</span>
                    </div>
                    <select id="cold-name-list" class="form-control" onchange="showColdStoreInsertModal(this)">
                        <option disabled selected>Select Cold Storage Name</option>
                        {{#coldStore}}
                        <option value="{{name}}">{{name}}</option>
                        {{/coldStore}}
                        <option value="add">Add New Cold Store</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Date</span>
                    </div>
                    <input type="date" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Party Name</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Seller Party Name & Address">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Mobile No.</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Seller Contact No.">
                </div>
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Merchant Name</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Buyer Party Name & Address">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Mobile No.</span>
                    </div>
                    <select class="form-control">
                        <option disabled selected>Buyer Contact No.</option>
                        <option value="9719814140">9719814140</option>
                        <option value="9675234150">9675234150</option>
                        <option value="9675444150">9675444150</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Lot No.</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Lot Number">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Type</span>
                    </div>
                    <select class="form-control">
                        <option disabled selected>Select Potato Type</option>
                        <option value="Gulla">Gulla</option>
                        <option value="Mota">Mota</option>
                        <option value="Kirri">Kirri</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Packets</span>
                    </div>
                    <input type="text" class="form-control" placeholder="No. Of Packets">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Rate</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Rate">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tol</span>
                    </div>
                    <select class="form-control">
                        <option disabled selected>Select Tol</option>
                        <option value="52.5">52.5 Kg/Packet</option>
                        <option value="52.3">52.3 Kg/Packet</option>
                        <option value="52.7">52.7 Kg/Packet</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-success col">Save</button>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <form onsubmit="return saveColdStoreData()" id="new-cold-form">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Cold Store</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-row mb-4 mt-2 mr-5 ml-5">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Cold Storage</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Cold Storage Name" title="Provide Cold Name!" id="cold-name" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-4 mr-5 ml-5">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Bags</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Bags Already Stored" pattern="[0-9]+" title="Enter Number Of Bags!" id="bag" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2 mr-5 ml-5">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Dues</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Any Due Amount" pattern="[0-9]+" title="Enter Due Amount!" id="due" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="new-cold-error" class="col m-font" style="color: #d54c36;"></div>
                    <button type="submit" class="btn btn-success col-sm-3" id="add-cold-btn">Save</button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
<script>
</script>
</body>