<style>
    .container{
        padding:40px;
        background-color: #ffffff;
        box-shadow: 1px 1px 5px #acacac;
        border-radius: 10px;
        font-family: Gadugi, Arial, sans-serif;
    }
    .modal-label{
        font-weight: bold;
        font-size: 16px;
    }
    .modal-text{
        font-size: 15px;
    }
    .modal-text, .modal-label{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .info .col-sm-2{
        max-width: 20%;
        min-width: 20%;
    }

    .row.info{
        font-size: 0;
        margin-bottom: 2px;
    }

    .row.image{
        margin-bottom: 2px;
    }
    .btn-img{
        padding: 0;
        border: 0;
        width: 30px;
        height: 30px;
        background: transparent;
        font-size: 20px;
        border-radius: 15px;
    }

    .row.info:nth-child(even){
        background-color: #f6f6f6;
    }

    .modal-text:hover{
        overflow: visible;
        white-space: normal;
        word-break: break-word;
    }
    .btn-img:focus{
        outline: none;
    }
    .btn-img:hover{
        box-shadow: 0 5px 15px rgba(150, 150, 150, 0.4);
    }
    @media screen and (max-width: 600px) {
        .input-group-prepend{
            display: none;
        }
        .form-row .col .input-group .form-control, .form-row .col-sm-4 .input-group .form-control{
            min-width: 100px;
            border-radius: 5px;
        }
        .form-row .col .input-group, .form-row .col-sm-4 .input-group, .form-row .col .custom-file{
            margin-bottom: 4px;
        }
        .modal-label{
            font-size: 11px;
        }
        .modal-text{
            font-size: 10px;
        }
        .col-sm-2, .col-sm-4, .col-sm-1{
            display: inline-block;
        }
        .info .col-sm-2, .image .col-sm-2{
            max-width: 20%;
            min-width: 20%;
        }
        .image .col-sm-1{
            max-width: 9%;
            min-width: 9%;
        }
        .meta .col-sm-2, .meta .col-sm-4{
            max-width: 49%;
            min-width: 49%;
            margin-bottom: 5px;
        }
    }
</style>
<div class="container">
    <form action="#" id="cold_kharid_form" onsubmit="return saveColdKharidDetails()">
        <div class="form-row mb-4">
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Date</span>
                    </div>
                    <input type="date" class="form-control" placeholder="Date" id="date-picker" required>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Cold Storage</span>
                    </div>
                    <select id="cold-name-list" class="form-control" oninput="showModal(this.value, '#newCold_Modal')">
                        <option disabled selected>Select Cold Store Name</option>
                        {{#coldStore}}
                        <option value="{{_id}}">{{name}}</option>
                        {{/coldStore}}
                        <option value="add">Add New Cold Store</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Seller Name</span>
                    </div>
                    <select id="seller-name-list" class="form-control" oninput="showModal(this.value, '#newSeller_Modal')">
                        <option disabled selected>Select Seller Name</option>
                        {{#seller}}
                        <option value="{{_id}}">{{name}} {{address}} {{mobile}}</option>
                        {{/seller}}
                        <option value="add">Add New Seller</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Buyer Name</span>
                    </div>
                    <select id="buyer-name-list" class="form-control">
                        <option disabled selected>Select Buyer Name</option>
                        <option value="Nem Singh">Nem Singh</option>
                        <option value="Mahesh Chand">Mahesh Chand</option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <div id="purchase_detail">
            <div class="form-row mb-4">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Lot No.</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Lot Number" name="lot-number" required>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Type</span>
                        </div>
                        <select class="form-control" name="potato-size">
                            <option disabled selected>Potato Size</option>
                            <option value="Gulla">Gulla</option>
                            <option value="Mota">Mota</option>
                            <option value="Kirri">Kirri</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Packets</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Bags" required pattern="[0-9]+" title="Enter Number Of Packets!" name="bags">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Rate</span>
                        </div>
                        <input type="text" class="form-control control-sm" placeholder="Rate" name="rate" required pattern="[-+]?[0-9]*[.,]?[0-9]+" title="Rate Not Valid!">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Tol</span>
                        </div>
                        <select class="form-control control-sm" name="tol">
                            <option disabled selected>Tol</option>
                            <option value="52.5">52.5 Kg/Bag</option>
                            <option value="52.3">52.3 Kg/Bag</option>
                            <option value="52.7">52.7 Kg/Bag</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-offset-10">
                    <button class="btn btn-primary" style="width: 2.5em" onclick="addRow()">+</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="col">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="in_files" multiple accept="image/*" onchange="setFileInputText()">
                    <label class="custom-file-label" for="customFile" id="fileLabel">Choose Files (Max 5 Files)</label>
                </div>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-success col" onclick="applyValidation()">Save</button>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="newCold_Modal">
    <form id="newCold_Form" action="#" onsubmit="return saveNewColdDetails()">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Cold Store</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-row mb-4 mt-2 mr-5 ml-5">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Cold Storage</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Cold Storage Name" title="Provide Cold Name!" id="cold-name" required>
                        </div>
                    </div>
                </div>
                <div class="form-row mb-4 mr-5 ml-5">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Bags</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Bags Already Stored" pattern="[0-9]+" title="Enter Number Of Bags!" id="bag" required>
                        </div>
                    </div>
                </div>
                <div class="form-row mb-2 mr-5 ml-5">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Dues</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Any Due Amount" pattern="[0-9]+" title="Enter Due Amount!" id="due" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="new-cold-progress" class="col m-font"></div>
                <button type="submit" class="btn btn-success col-sm-3">Save</button>
            </div>
        </div>
    </div>
    </form>
</div>
<div class="modal fade" id="newSeller_Modal">
    <form action="#" id="newSeller_Form" onsubmit="return saveNewSellerDetails()">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Seller</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-row mb-4 mt-2 mr-5 ml-5">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Seller</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Seller Name" title="Provide Seller Name!" id="seller-name" required>
                        </div>
                    </div>
                </div>
                <div class="form-row mb-4 mr-5 ml-5">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Address</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Address" title="Enter Valid Address" id="address" required>
                        </div>
                    </div>
                </div>
                <div class="form-row mb-2 mr-5 ml-5">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Mobile</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Mobile Number" pattern="[0-9]+" title="Enter Valid Mobile Number" id="mobile">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="new-seller-progress" class="col m-font"></div>
                <button type="submit" class="btn btn-success col-sm-3">Save</button>
            </div>
        </div>
    </div>
    </form>
</div>
<div class="modal fade" id="alertModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="info-modal-header">Saving Record...</h4>
            </div>
            <div class="modal-body">
                <p id="alert-model-message" style="text-align: center"></p>
            </div>
            <div class="modal-footer" id="info-modal-footer">
                <button class="btn btn-success" type="button" id="alert-view-btn" data-toggle="modal" data-target="#display-details-modal">View</button>
                <button class="btn btn-primary" data-dismiss="modal" type="button" id="alert-close-btn">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="display-details-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cold Kharid</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="display-details-modal-body">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<template>
    <div class="form-row mb-4">
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Lot No.</span>
                </div>
                <input type="text" class="form-control" placeholder="Lot Number" name="lot-number" required>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Type</span>
                </div>
                <select class="form-control" name="potato-size">
                    <option disabled selected>Potato Size</option>
                    <option value="Gulla">Gulla</option>
                    <option value="Mota">Mota</option>
                    <option value="Kirri">Kirri</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Packets</span>
                </div>
                <input type="text" class="form-control" placeholder="Bags" name="bags" required pattern="[0-9]+" title="Enter Number Of Packets!">
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Rate</span>
                </div>
                <input type="text" class="form-control" placeholder="Rate" name="rate" required pattern="[-+]?[0-9]*[.,]?[0-9]+" title="Rate Not Valid!">
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Tol</span>
                </div>
                <select class="form-control" name="tol">
                    <option disabled selected>Tol</option>
                    <option value="52.5">52.5 Kg/Bag</option>
                    <option value="52.3">52.3 Kg/Bag</option>
                    <option value="52.7">52.7 Kg/Bag</option>
                </select>
            </div>
        </div>
        <div class="col-lg-push-0">
            <button class="btn btn-primary" style="width: 2.5em" onclick="removeRow(this)">-</button>
        </div>
    </div>
</template>
<template>
    <div class="row meta">
        <div class="col-sm-2">
            <div class="modal-label">Date:</div>
            <div class="modal-text" id="display-date">--</div>
        </div>
        <div class="col-sm-4">
            <div class="modal-label">Cold Store:</div>
            <div class="modal-text" id="display-cold">--</div>
        </div>
        <div class="col-sm-4">
            <div class="modal-label">Bought From</div>
            <div class="modal-text" id="display-seller">--</div>
        </div>
        <div class="col-sm-2">
            <div class="modal-label">Bought By:</div>
            <div class="modal-text" id="display-buyer">--</div>
        </div>
    </div>
    <hr>
    <div class="row info">
        <span class="col-sm-2 modal-label">Lot No:</span>
        <span class="col-sm-2 modal-label">Size:</span>
        <span class="col-sm-2 modal-label">Bags:</span>
        <span class="col-sm-2 modal-label">Rate:</span>
        <span class="col-sm-2 modal-label">Tol:</span>
    </div>
</template>

<script>
    //UI Handling Functions
    $(document).ready(function() {
        document.querySelector("#date-picker").valueAsDate = new Date();
        setModalProperties();
    });

    function addRow() {
        let table = document.getElementById("purchase_detail");
        let template = document.getElementsByTagName("template")[0];
        let node = template.content.cloneNode(true);
        table.appendChild(node);
    }
    function removeRow(child){
        let table = document.getElementById("purchase_detail");
        table.removeChild(child.parentElement.parentElement);
    }
    function validateDropDowns(elements){
        for (const x of elements) {
            if(x.selectedIndex===0 || x.selectedIndex===-1) {
                x.setCustomValidity('Please Select A Valid Option!');
                break;
            }
            else
                x.setCustomValidity('');
        }

    }
    function applyValidation(){
        let coldList=document.getElementById("cold-name-list");
        let sellerList = document.getElementById("seller-name-list");
        let buyerList=document.getElementById("buyer-name-list");
        let pSize=document.getElementsByName("potato-size")
        let tol=document.getElementsByName("tol");

        let elements=[coldList, sellerList, buyerList];
        for (let i=0; i<pSize.length; i++){
            elements.push(pSize[i]);
            elements.push(tol[i]);
        }
        validateDropDowns(elements);

        let filePicker=document.getElementById("customFile");
        if(filePicker.files.length>5)
            filePicker.setCustomValidity('Maximum 5 Files Allowed!');
        else
            filePicker.setCustomValidity('');
    }
    function setFileInputText(){
        let label=document.getElementById("fileLabel");
        let fileInput=document.getElementById("customFile");
        if(fileInput.files.length>0){
            label.innerHTML=fileInput.files.length+' Files Selected';
        }else {
            label.innerHTML='Choose Files (Max 5 Files)';
        }
    }

    function setModalProperties(){
        $("#newCold_Modal").on('show.bs.modal', function () {
            document.getElementById("newCold_Form").reset();
            document.getElementById("new-cold-progress").innerHTML="";
        });
        $("#newCold_Modal").on('hidden.bs.modal', function () {
            document.getElementById("cold-name-list").selectedIndex=0;
        });

        $("#newSeller_Modal").on('show.bs.modal', function () {
            document.getElementById("newSeller_Form").reset();
            document.getElementById("new-seller-progress").innerHTML="";
        });
        $("#newSeller_Modal").on('hidden.bs.modal', function () {
            document.getElementById("seller-name-list").selectedIndex=0;
        });
        $("#display-details-modal").on('show.bs.modal', function () {
            let id=$('#alert-view-btn')[0].value;
            $.ajax('/api/cold_kharid_data', {
                type: 'GET',
                data: {
                    id:id
                },
                success: function (data, status, xhr) {
                    let result=data[0];

                    let parent=document.getElementById("display-details-modal-body");
                    let template = document.getElementsByTagName("template")[1];
                    let node = template.content.cloneNode(true);
                    parent.appendChild(node);

                    $('#display-date')[0].innerText=result.date;
                    $('#display-cold')[0].innerText=result.cold_store[0].name;
                    $('#display-seller')[0].innerText=result.seller[0].name+" "+result.seller[0].address;
                    $('#display-buyer')[0].innerText=result.buyer_name;

                    for(let deal of result.deals){
                        let div=document.createElement("div");
                        div.className="row info";
                        div.innerHTML=
                            "<div class='col-sm-2 modal-text'>"+deal.lot+"</div>" +
                            "<div class='col-sm-2 modal-text'>"+deal.size+"</div>" +
                            "<div class='col-sm-2 modal-text'>"+deal.bags+"</div>" +
                            "<div class='col-sm-2 modal-text'>"+deal.rate+"</div>" +
                            "<div class='col-sm-2 modal-text'>"+deal.tol+"</div>";
                        parent.appendChild(div);
                    }
                    let path="'google.com'";
                    if(result.image_ids.length>0){
                        parent.appendChild(document.createElement("hr"));
                        let div=document.createElement("div");
                        div.className="row image";
                        for(let id of result.image_ids){
                            div.innerHTML += "<div class='col-sm-1'><button class='btn-img' title='Click to view image!' onclick='window.open("+'"api/image?id='+id+'"'+");'><i class='fa fa-file-photo-o'></i></button></div>";
                        }
                        parent.appendChild(div);
                    }

                },
                error: function (jqXhr, textStatus, errorMessage) {
                    window.alert(errorMessage);
                }
            });
        });
        $("#display-details-modal").on('hidden.bs.modal', function (){
            document.getElementById("display-details-modal-body").innerHTML = "";
        });

    }
    function showModal(option, modalId){
        if(option==='add')
            $(modalId).modal('show');
    }
</script>

<script>
    //Ajax calls to APIs
    function saveNewColdDetails(){
        document.getElementById('new-cold-progress').innerHTML="<i class='fa fa-2x fa-spinner fa-pulse'></i>";
        $.ajax('/api/save_new_cold', {
            type: 'POST',
            data: {
                name: $('#cold-name').val(),
                bag: $('#bag').val(),
                due:$('#due').val()
            },
            success: function (data, status, xhr) {
                let nameList=document.getElementById('cold-name-list');
                let newOption = document.createElement("option");
                newOption.value=data.insertedId;
                newOption.innerHTML = data.name;
                nameList.insertBefore(newOption, nameList.lastElementChild);
                $("#newCold_Modal").modal('hide');
            },
            error: function (jqXhr, textStatus, errorMessage) {
                document.getElementById('new-cold-progress').innerHTML=errorMessage+" : Can't Save Cold Details!";
            }
        });
        return false;
    }
    function saveNewSellerDetails(){
        document.getElementById('new-seller-progress').innerHTML="<i class='fa fa-2x fa-spinner fa-pulse'></i>";
        $.ajax('/api/save_new_seller', {
            type: 'POST',
            data: {
                name: $('#seller-name').val(),
                address: $('#address').val(),
                mobile:$('#mobile').val()
            },
            success: function (data, status, xhr) {
                let nameList=document.getElementById('seller-name-list');
                let newOption = document.createElement("option");
                newOption.value=data.insertedId;
                newOption.innerHTML = data.name+" "+data.address+" "+data.mobile;
                nameList.insertBefore(newOption, nameList.lastElementChild);
                $("#newSeller_Modal").modal('hide');
            },
            error: function (jqXhr, textStatus, errorMessage) {
                document.getElementById('new-seller-progress').innerHTML=errorMessage+" : Can't Save Seller Details!";
            }
        });
        return false;
    }
    function saveColdKharidDetails() {
        $('#alert-close-btn').attr("disabled", "disabled");
        $('#alert-view-btn').attr("disabled", "disabled");
        $('#alertModal').modal('show');

        let image_ids=[];
        if($('#customFile')[0].files.length>0){
            $('#alert-model-message')[0].innerHTML = "<i class='fa fa-3x fa-spinner fa-pulse'></i><br><br>Saving Images...";
            let data = new FormData();
            for (let x of document.getElementById('customFile').files)
                data.append('files', x);

            $.ajax('/api/image', {
                type: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (data, status, xhr) {
                    for(let i=0; i<data.insertedCount; i++)
                        image_ids.push(data.insertedIds[i]);
                    saveColdKharidData(image_ids);
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    $('#alert-model-message')[0].innerHTML = "Can't Save Image Data!";
                }
            });
        }
        else
            saveColdKharidData([]);

        $('#alert-close-btn').removeAttr('disabled');
        return false;
    }
    function saveColdKharidData(image_ids){
        $('#alert-model-message')[0].innerHTML = "<i class='fa fa-3x fa-spinner fa-pulse'></i><br><br>Saving Kharid Data...";

        $.ajax('/api/save_cold_kharid', {
            type: 'POST',
            data: {
                date: $('#date-picker').val(),
                cold_id: $('#cold-name-list').val(),
                seller_id:$('#seller-name-list').val(),
                buyer_name: $('#buyer-name-list').val(),
                lot: Array.from($('[name=lot-number]')).map(x=>{return x.value}),
                size: Array.from($('[name=potato-size]')).map(x=>{return x.value}),
                bags: Array.from($('[name=bags]')).map(x=>{return x.value}),
                rate: Array.from($('[name=rate]')).map(x=>{return x.value}),
                tol: Array.from($('[name=tol]')).map(x=>{return x.value}),
                image_ids: image_ids
            },
            success: function (data, status, xhr) {
                console.log(JSON.stringify(data));
                $('#alert-model-message')[0].innerHTML = "Saved Successfully!";
                $('#alert-view-btn')[0].value=data.parentResult.insertedId;
                $('#alert-view-btn').removeAttr('disabled');
                resetForm();
            },
            error: function (jqXhr, textStatus, errorMessage) {
                $('#alert-model-message')[0].innerHTML = "Can't Save Cold Kharid Details!";
            }
        });
    }
    function resetForm(){
        $('#cold_kharid_form')[0].reset();
        document.querySelector("#date-picker").valueAsDate = new Date();
        setFileInputText();
    }

</script>

</html>