<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        .card{
            margin-right: 30px;
            margin-bottom: 30px;
            width: 300px;
            height: 150px;
            display: inline-block;
            background-color: #ffffff;
            box-shadow: 1px 1px 1px #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<body>

<div>
    <div class="card">
        <div style="margin-top: 20px; margin-left: 30px; font-size: 18px; letter-spacing: 1px; font-weight: bold; font-family: Bahnschrift;">
            REMAINING BAGS
        </div>
        <div style="margin-top: 30px; margin-left: 50px; font-size: 35px; color: #5ea526">
            <i class="fa fa-signal"></i>
        </div>
        <div style="text-align: right; margin-right: 30px; margin-top: -45px; font-size: 30px; font-family: Bahnschrift; color: #5ea526; font-weight: lighter;">
            1250
        </div>
    </div>

    <div class="card">
        <div style="margin-top: 20px; margin-left: 30px; font-size: 18px; letter-spacing: 1px; font-weight: bold; font-family: Bahnschrift;">
            TOTAL SALE
        </div>
        <div style="margin-top: 30px; margin-left: 50px; font-size: 35px; color: #1c35af">
            <i class="fa fa-inr"></i>
        </div>
        <div style="text-align: right; margin-right: 30px; margin-top: -45px; font-size: 30px; font-family: Bahnschrift; color: #1c35af; font-weight: lighter;">
            2350
        </div>
    </div>
    <div class="card" style="margin-right:0px;">
        <div style="margin-top: 20px; margin-left: 30px; font-size: 18px; letter-spacing: 1px; font-weight: bold; font-family: Bahnschrift;">
            OUTSTANDING AMOUNT
        </div>
        <div style="margin-top: 30px; margin-left: 50px; font-size: 35px; color: #a52626">
            <i class="fa fa-money"></i>
        </div>
        <div style="text-align: right; margin-right: 30px; margin-top: -45px; font-size: 30px; font-family: Bahnschrift; color: #a52626; font-weight: lighter;">
            455450
        </div>
    </div>

</div>
</body>
</html>