<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kishan</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica Neue">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body{
            background-color: #ecf1f5;
        }
        input:focus{
            outline: none;
        }
        .m-nav a{
            padding: 20px 50px;
            text-decoration: none;
            font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
            letter-spacing: 1px;
            font-size: 15px;
            color: #5e5e5e;
            text-align: left;
        }
        .m-nav a.active {
            font-weight: bold;
            border-left: #1eb69f 4px solid;
            padding: 20px 45px;
        }
        .m-nav a:hover {
            background-color: #dbdbdb;
            transition: 0.3s;
        }
        .m-font{
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        a.sub-form-nav {
            font-size: 14px;
            padding-left: 60px;
            display: none;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="m-nav ml-n3" style="width: 265px; position: fixed; height: 100vh; background-color: #ffffff; box-shadow: 0px 5px 5px #888888;">
        <div class="d-flex flex-column">
            <div class="m-font" style="padding: 20px 30px; font-weight: bold; font-size: 18px" >
                <i class="fa fa-leaf fa-lg"></i>&nbsp; Potato Manager</div>

            <a href="#" onclick="loadTab(this)" class="active" id="dashboard">
                <i class="fa fa-dashboard fa-lg"></i>&nbsp; Dashboard</a>
            <a href="#" onclick="loadTab(this)" id="entry-form" status="collapsed">
                <i class="fa fa-table fa-lg"></i>&nbsp; Entry Form &nbsp;<i class="fa fa-angle-down fa-lg"></i></a>

            <a class="sub-form-nav" href="#" onclick="loadForm('cold_kharid')"><i class="fa fa-pencil fa-mg"></i> Cold Kharid Form</a>
            <a class="sub-form-nav" href="#" onclick="loadForm('kisan_kharid')"><i class="fa fa-pencil fa-mg"></i> Kisan Kharid Form</a>
            <a class="sub-form-nav" href="#" onclick="loadForm('self_entry')"><i class="fa fa-pencil fa-mg"></i> Manual Entry Form</a>

            <a href="#" onclick="loadTab(this)" id="routine">
                <i class="fa fa-pencil-square-o fa-lg"></i>&nbsp; Routines</a>
            <a href="#" onclick="loadTab(this)" id="management">
                <i class="fa fa-cogs fa-lg"></i>&nbsp; Management</a>
            <a href="#" onclick="loadTab(this)" id="report">
                <i class="fa fa-print fa-lg"></i>&nbsp; Reports</a>
        </div>
    </div>
    <div style="margin-right: -15px; margin-left: 248px;">
        <div>
            <div style="padding: 10px; background-color: #2f323e; text-align: right;">
                <input type="text" placeholder="Global Search..." name="search" style="padding: 10px; margin: 5px; border-radius: 25px; border: none; width: 25%; font-size: 17px; padding-left: 15px; padding-right: 40px; font-weight: bold; color: #2f323e;">
                <i class="fa fa-search" style="margin-left: -40px; margin-right: 50px; color: #2f323e;"></i>
            </div>
            <div style="box-shadow: 1px 1px 1px #ccc; padding: 10px; background-color: #ffffff; text-align: right;">
                <div id="header" style="margin: 8px; margin-right: 25px; font-weight: bolder; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; letter-spacing: 2px">DASHBOARD</div>
            </div>
            <div id="target" style="margin-left: 35px; margin-top: 45px; margin-right: 30px;"></div>
        </div>
    </div>
</div>
</body>

<script>
    var dashboard=document.getElementById('dashboard');
    var entryForm=document.getElementById('entry-form');
    var routine=document.getElementById('routine');
    var management=document.getElementById('management');
    var report=document.getElementById('report');

    function activateTab(tab){
        var tabs=[dashboard, entryForm, routine, management, report];
        for (var x of tabs){
            if(x===tab)
                x.className='active';
            else
                x.className=null;
        }
    }
    function loadContent(link, headerText){
        document.getElementById('header').innerHTML=headerText;
        $.ajax({
            url: link,
            success: function( result ) {
                document.getElementById('target').innerHTML=result;
            }
        });
    }
    function toggleLinksDisplay(tab, className){
        if(tab.getAttribute('status')==='collapsed'){
            for(var x of document.getElementsByClassName(className))
                x.style.display='block';
            tab.setAttribute('status', 'expanded');
            tab.innerHTML=tab.innerHTML.replace('down', 'up');
        }
        else {
            for(var x of document.getElementsByClassName(className))
                x.style.display='none';
            tab.setAttribute('status', 'collapsed');
            tab.innerHTML=tab.innerHTML.replace('up', 'down');
        }
    }
    function loadTab(tab){
        if(tab===dashboard){
            loadContent("dashboard.html", 'DASHBOARD');
        }
        else if(tab===entryForm){
            toggleLinksDisplay(tab, 'sub-form-nav');
            return;
        }

        activateTab(tab);
    }
    function loadForm(form){
        var fName=form.split("_");
        loadContent(form+'.html', 'ENTRY FORM / '+fName[0].toUpperCase()+' '+fName[1].toUpperCase()+' FORM');
        toggleLinksDisplay(entryForm, 'sub-form-nav');
        activateTab(entryForm);
    }
</script>
</html>