<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>This is Test Page</h1>
<h2 id="test">{{students}}</h2>
<h3 id="target"></h3>
<button onclick="test()">Press</button>

</body>
<script>
    function test(){
        $.ajax({
            url: "/",
            success: function( result ) {
                document.getElementById('target').innerHTML=result;
            }
        });
    }
</script>
</html>